[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia TopLine genuine Daisy Chain Test Components for SMT process development and machine evaluation. CCGA Column grid array, BGA, CSP, WLP, eWLP, QFN, QFP, TQFP, LQFP, PLCC, SOIC, SSOP, TSOP, TSSOP, QSOP, flip chip, TEG, TOP LINE .
Type=Link
URL=https://www.topline.tv/
Icon=text-html
Name[es_AR]=Topline packages web
